@import url(http://yui.yahooapis.com/pure/0.6.0/pure-min.css);
@import url(http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css);

body {
    background-image: url(../images/akira-image.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Helvetica;
}

.navigation {
    background-color: rgba(0, 0, 0, 1.0);
    height: 34px;
}

.content {
    position: absolute;
    width: 80%;
    bottom: 0px;
    top: 34px;
    left:10%;
    padding: 30px 10px 10px 30px;
    background-color: rgba(255, 255, 255, 0.9);
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.splash {
    position: absolute;
    width: 300px;
    margin: 0px 0 0 -150px;
    top: 50%;
    left: 50%;
}

.pure-button {
    color: black;
    background: darkorange;
}

.tablelist table {
    display: inline-flex;
}

.tablelist * td {
    display: flex;
}

.pure-menu-link-left {
    display: inline-block;
}

.pure-menu-list-right {
    float: right;
}


