@import url(http://yui.yahooapis.com/pure/0.6.0/pure-min.css);
@import url(http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css);

html, body {
    height: 100%;
    font-family: sans-serif;
    font-weight: 100;
    color: #333;
}

body {
    background-image: url(../images/akira-image.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    border-bottom: 1px solid black;
}

.navigation {
    position: static;
    background-color: rgba(0, 0, 0, 1.0);
    top: 0px;
}

.content {
    position: relative;
    width: 80%;
    left: 10%;
    min-height: 80%;
    background-color: rgba(255, 255, 255, 0.9);
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    padding: 30px 30px 30px 30px;
}

.splash {
    position: absolute;
    width: 500px;
    margin: 0px 0 0 -150px;
    top: 50%;
    left: 50%;
}

input:not(:first-child), select:not(:first-child) {
    margin-left: 5px;
}

.pure-button {
    color: black;
    background: darkorange;
}

.pure-form-aligned .pure-control-group label {
    width: 14em;
}

.pure-menu-link {
    background-color: black;
    color: white;
}

.pure-menu-link:hover {
    background-color: white;
    color: black;
}

.tablelist table {
    display: inline-flex;
}

.tablelist * td {
    display: flex;
}

.pure-menu-link-left {
    display: inline-block;
}

.pure-menu-list-right {
    float: right;
}

.pure-menu-horizontal {
    white-space: normal;
}

.multiline-control-group {
    display: inherit;
}

.validation-message-box {
    border: 1px dotted red;
    background-color: coral;
}

.multiline-control-group.tablelist ul {
    padding-left: 0px;
    -webkit-margin-before: 0px;
}

.multiline-control-group * {
    display: inline-table;
    margin: inherit;
}

.multiline-control-group.tablelist ul li {
    display: table-row;
}

.inline-form {
    display: inline-block;
}

.mangalist-button, .mangalist-button-small {
    border: none;
    width: 50px;
    height: 40px;
    background-size: auto 50px;
    background-repeat: no-repeat;
    background-color: transparent;
}

.mangalist-button-small {
    background-size: auto 40px;
}

.mangalist-add {
    background-image: url(../images/mangalist-add.png);
}

.mangalist-added {
    background-image: url(../images/mangalist-added.png);
}

.mangalist-remove {
    background-image: url(../images/mangalist-remove.png);
}

